{% extends "base.html" %}
{% block title %}about{% endblock title %}
{% block body %}
<section id="about" class="container my-5">
    <h2 class="text-center">About Me</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="static\A=568.JPG" alt="Your Name" class="img-fluid rounded-circle mb-3">
        </div>
        <div class="col-md-8">
            <h1>Hi, There</h1>
            <p>I'm <strong>MD YOUNUS</strong>, I'm a Frontend Focused Web Developer building and managing the Front-end of Websites and Web Applications that leads to the success of the overall product. Check out some of my work in the Projects section. Feel free to Connect or Follow me on my Linkedin. I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to contact me.</p>
            <h5>Background</h5>
            <p>I post graduated with a degree in Master of technology from Deccan college of Engineering and Technology and have since worked on various projects that challenge my skills and creativity.</p>

            <h5>Skills</h5>
            <ul class="list-group mb-3">
                <li class="list-group-item">Django</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">Bootstrap</li>
                <li class="list-group-item">HTML & CSS</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">Responsive Design</li>
                <li class="list-group-item">Version Control (Git)</li>
            </ul>

            <h5>Notable Projects</h5>
            <p>Check out some of my work:</p>
            <ul class="list-unstyled">
                <li><a href="[Project Link 1]" class="text-decoration-none">Project 1</a> - Brief description of the project.</li>
                <li><a href="[Project Link 2]" class="text-decoration-none">Project 2</a> - Brief description of the project.</li>
            </ul>

            <h5>Interests</h5>
            <p>When I'm not coding, I enjoy Reading books and watching movies, which helps me recharge and gain new perspectives.</p>

            <h5>Let's Connect!</h5>
            <p>Feel free to reach out to me on <a href="www.linkedin.com/in/md-younus-78ba281a8" class="text-decoration-none">LinkedIn</a> or via email at <a href="mailto:[Your Email]" class="text-decoration-none">younusmohd779@gmail.com</a>.</p>
        </div>
    </div>
</section>

{% endblock body %}
